{% set title = "Блог" %}

{% extends "layouts/_default.html" %}

{% block content %}

<!-- Contacts -->
<section class="contacts">
    <div class="contacts__container container">
        <div class="title-divider">
            <div class="title-divider__line"></div>
            <h2 class="title-divider__text title title--black title--large title--w-medium title--uppercase center">
                ЧАЙКОВСКИЙ ФИЛИАЛ АО “ГАЗПРОМ БЫТОВЫЕ СИСТЕМЫ”
            </h2>
            <div class="title-divider__line"></div>
        </div>
        <div class="contacts__outer">
            <div class="contacts__map" id="map_c"></div>
            <div class="contacts__plunk-map">
                <h3 class="contacts__title text text--pink text--medium text--w-bold text--uppercase">
                    Контакты
                </h3>
                <div class="contacts__wrap-info">
                    <a href="tel:+7 800 775-80-78" class="contacts__info">
                        <span class="contacts__icon-info">
                            <img src="img/contacts/phone.svg" alt="" class="contacts__img-info">
                        </span>
                        <div class="contacts__text">
                            <span class="text text--pink text--normal text--w-bold">+7 800 775-80-78</span>
                            <div class="contacts__mobile-br"></div>
                            <span class="text text--dark text--normal text--w-regular">(Телефон бесплатной горячей линии)</span>
                        </div>
                    </a>
                    <div class="contacts__info">
                        <span class="contacts__icon-info">
                            <img src="img/contacts/list.svg" alt="" class="contacts__img-info">
                        </span>
                        <div class="contacts__text">
                            <span class="text text--dark text--normal text--w-regular">
                                ОГРН: 1027700008390
                                <br>
                                ИНН: 7709014944
                                <br>
                                КПП:781401001
                            </span>
                        </div>
                    </div>
                    <div class="contacts__info">
                        <span class="contacts__icon-info">
                            <img src="img/contacts/point.svg" alt="" class="contacts__img-info">
                        </span>
                        <div class="contacts__text">
                            <span class="text text--dark text--normal text--w-regular">Промышленная зона Сутузово (г. Чайковский, Пермский край)</span>
                            <div class="contacts__mobile-map text text--dark text--normal text--w-regular" onclick="updateMangeMap('56.703082, 54.101687')">
                                Показать на карте
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contacts__inner">
            <div class="contacts__item">
                <div class="contacts__title-item text text--pink text--medium text--w-bold text--uppercase">
                    Отдел продаж
                </div>
                <a href="mailto:sales@darina.su" class="contacts__info">
                    <span class="contacts__icon-info">
                        <img src="img/contacts/mail.svg" alt="" class="contacts__img-info">
                    </span>
                    <div class="contacts__text">
                        <span class="text text--dark text--normal text--w-regular link">sales@darina.su</span>
                    </div>
                </a>
            </div>
            <div class="contacts__item">
                <div class="contacts__title-item text text--pink text--medium text--w-bold text--uppercase">
                    Отдел сервисного обслуживания
                </div>
                <a href="tel:+7 (34241) 7-28-88" class="contacts__info">
                    <span class="contacts__icon-info">
                        <img src="img/contacts/phone.svg" alt="" class="contacts__img-info">
                    </span>
                    <div class="contacts__text ">
                        <span class="text text--dark text--normal text--w-regular link">+7 (34241) 7-28-88</span>
                    </div>
                </a>
                <a href="mailto:service@darina.su" class="contacts__info">
                    <span class="contacts__icon-info">
                        <img src="img/contacts/mail.svg" alt="" class="contacts__img-info">
                    </span>
                    <div class="contacts__text ">
                        <span class="text text--dark text--normal text--w-regular link">service@darina.su</span>
                    </div>
                </a>
            </div>
            <div class="contacts__item">
                <div class="contacts__title-item text text--pink text--medium text--w-bold text--uppercase">
                    Отдел управления персоналом
                </div>
                <a href="tel:+7 (34241) 7-28-37" class="contacts__info">
                    <span class="contacts__icon-info">
                        <img src="img/contacts/phone.svg" alt="" class="contacts__img-info">
                    </span>
                    <div class="contacts__text ">
                        <span class="text text--dark text--normal text--w-regular link">+7 (34241) 7-28-37</span>
                    </div>
                </a>
                <a href="mailto:personal@darina.su" class="contacts__info">
                    <span class="contacts__icon-info">
                        <img src="img/contacts/mail.svg" alt="" class="contacts__img-info">
                    </span>
                    <div class="contacts__text ">
                        <span class="text text--dark text--normal text--w-regular link">personal@darina.su</span>
                    </div>
                </a>
            </div>
            <div class="contacts__item">
                <div class="contacts__title-item text text--pink text--medium text--w-bold text--uppercase">
                    Диспетчер аварийной службы
                </div>
                <a href="tel:+7 (34241) 7-28-10" class="contacts__info">
                    <span class="contacts__icon-info">
                        <img src="img/contacts/phone.svg" alt="" class="contacts__img-info">
                    </span>
                    <div class="contacts__text ">
                        <span class="text text--dark text--normal text--w-regular link">+7 (34241) 7-28-10</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<script src="https://api-maps.yandex.ru/2.1/?apikey=23a92b50-c007-417f-8038-bd5c25769c30&lang=ru_RU"></script>
<script>
    ymaps.ready(init);
    function init(){
        var myMap = new ymaps.Map("map_c", {
            center: [56.703082, 54.101687],
            zoom: 8
        });
        myGeoObject = new ymaps.GeoObject({
            // Описание геометрии.
            geometry: {
                type: "Point",
                coordinates: [56.703082, 54.101687]
            },
        });
        myMap.geoObjects
            .add(myGeoObject);
    }
</script>
<!-- /. Contacts -->

<!-- Contacts -->
<section class="feedback-us">
    <div class="feedback-us__container container">
        <div class="title-divider">
            <div class="title-divider__line"></div>
            <h2 class="title-divider__text title title--black title--large title--w-medium title--uppercase center">
                Напишите нам
            </h2>
            <div class="title-divider__line"></div>
        </div>
        <p class="feedback-us__subtitle text text--dark text--normal text--w-regular center">
            Выберите отдел и заполните форму, мы всегда готовы помочь решить проблемы и обсудить предложения
        </p>
        <div class="feedback-us__outer-form">
            <div class="feedback-us__wrap-select">
                <div class="feedback-us__text-select text text--black text--normal text--w-bold">
                    Выберите отдел, к которому хотите обратиться <span class="feedback-us__star">*</span>
                </div>
                <select class="feedback-us__select js-select-feedback">
                    <option data-placeholder="true">Отдел</option>
                    <option value="Приемная">Приемная</option>
                    <option value="Отдел продаж">Отдел продаж</option>
                    <option value="Отдел материально-технического снабжения">Отдел материально-технического снабжения</option>
                    <option value="Отдел кадров">Отдел кадров</option>
                    <option value="Отдел маркетинга">Отдел маркетинга</option>
                    <option value="Отдел сервисного обслуживания">Отдел сервисного обслуживания</option>
                    <option value="Без привязки к конкретному отделу">Без привязки к конкретному отделу</option>
                </select>
            </div>
            <form action="" class="feedback-us__form"></form>
        </div>
    </div>
</section>
<!-- /. Contacts -->

{% endblock %}