/* Containers */
.container {
	@include wrapper();
}

.container-full {
	@include wrapper-full();
}

/* Hide */

.hide {
	display: none !important;
}

.hide-tablet {
	@include tablet(display, none !important);
}

.hide-tabletSM {
	@include tabletSM(display, none !important);
}

.hide-mobile {
	@include mobile(display, none !important);
}

/* Position */

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

/* Background */

.bg {
	&--white {
		background-color: var(--color-white);
	}
}

.block-padding {
	padding: 75px 0;
}

.block-padding-small {
	padding: 50px 0 50px;
}

/* Links */

.link {
	text-decoration: none;
	transition: ease .3s;
}

.link:hover {
	color: var(--color-pink);
}

/* Title */

.title {
	font-family: var(--font-main);
	font-style: normal;
	margin: 0;
	&--big {
		font-size: responsive 20px 26px;
		font-range: 992px 1768px;
	}
	&--large {
		font-size: 24px;
	}
	&--black {
		color: var(--color-black);
	}
	&--w-normal {
		font-weight: normal;
	}
	&--w-medium {
		font-weight: 500;
	}
	&--w-bold {
		font-weight: bold;
	}
	&--uppercase {
		text-transform: uppercase;
	}
}

.title--indent {
	margin: 0 0 40px;
	@include tablet(margin, 0 0 36px);
}

/* Text */

.text {
	font-family: var(--font-main);
	font-style: normal;
	margin: 0;
	&--medium {
		font-size: 18px;
	}
	&--normal {
		font-size: responsive 18px 16px;
		font-range: 992px 1768px;
	}
	&--black {
		color: var(--color-black);
	}
	&--gray {
		color: var(--color-gray);
	}
	&--dark {
		color: var(--color-dark);
	}
	&--pink {
		color: var(--color-pink);
	}
	&--w-regular {
		font-weight: normal;
	}
	&--w-bold {
		font-weight: bold;
	}
	&--italic {
		font-style: italic;
	}
	&--uppercase {
		text-transform: uppercase;
	}
}