@font-face {
	font-family: 'PF DinDisplay Pro';
	src: url('../../fonts/PFDinDisplayPro/PFDinDisplayPro-Regular.eot');
	src: url('../../fonts/PFDinDisplayPro/PFDinDisplayPro-Regular.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/PFDinDisplayPro/PFDinDisplayPro-Regular.woff2') format('woff2'),
	url('../../fonts/PFDinDisplayPro/PFDinDisplayPro-Regular.woff') format('woff'),
	url('../../fonts/PFDinDisplayPro/PFDinDisplayPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PF DinDisplay Pro';
	src: url('../../fonts/PFDinDisplayPro/PFDinDisplayPro-Medium.eot');
	src: url('../../fonts/PFDinDisplayPro/PFDinDisplayPro-Medium.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/PFDinDisplayPro/PFDinDisplayPro-Medium.woff2') format('woff2'),
	url('../../fonts/PFDinDisplayPro/PFDinDisplayPro-Medium.woff') format('woff'),
	url('../../fonts/PFDinDisplayPro/PFDinDisplayPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PFDinDisplayPro';
	src: url('../../fonts/PFDinDisplayPro/PFDinDisplayPro-Bold.eot');
	src: url('../../fonts/PFDinDisplayPro/PFDinDisplayPro-Bold.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/PFDinDisplayPro/PFDinDisplayPro-Bold.woff2') format('woff2'),
	url('../../fonts/PFDinDisplayPro/PFDinDisplayPro-Bold.woff') format('woff'),
	url('../../fonts/PFDinDisplayPro/PFDinDisplayPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}