:root {
	--color-white: #FFFFFF;
	--color-black: #000000;
	--color-dark: #333333;
	--color-gray: #808080;
	--color-light-gray: rgba(234, 234, 234, 0.5);
	--color-pink: #E9454F;
    --font-main: "PF DinDisplay Pro", "Roboto", Helvetica, Arial, sans-serif;
}