.title-divider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 40px;
  position: relative;
}

.title-divider__line {
  flex: 1;
  height: 2px;
  background-color: var(--color-black);
}

.title-divider__text {
  margin: 0 30px;
  @include tabletSM(margin, 0 20px);
}